<div class="list row">
  <div class="col-md-6">
    <h4>Lista de tarefas</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let task of tasks; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTask(task, i)"
      >
        {{ task.title }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentTask.id !== 0">
      <h4>Tarefa</h4>
      <div>
        <label><strong>Título:</strong></label> {{ currentTask.title }}
      </div>
      <div>
        <label><strong>Descrição:</strong></label>
        {{ currentTask.description }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentTask.completed ? "Completed" : "Em andamento" }}
      </div>
      <div class="btn-group mt-3" role="group">
        <button
          type="button"
          class="btn btn-dark"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Editar
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteTask()">
          Deletar
        </button>
      </div>
    </div>
    <div *ngIf="currentTask.id === 0">
      <br />
      <p>Clique numa tarefa para ver detalhes...</p>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar tarefa</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="onClose()"
        ></button>
      </div>
      <div class="modal-body">
        <form action="PUT">
          <div class="mb3">
            <label class="form-label">Título</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="currentTask.title"
              name="title"
            />
          </div>
          <div class="mb3">
            <label class="form-label">Descrição</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="currentTask.description"
              name="description"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="editTask()">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>
